table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
   position: relative; 
    
    
 }
 #dropdown-basic{
  max-height: 250px;
  overflow-y: scroll;
 }

.table-container{
  overflow-x: auto;
  width: 100%;
  height:84%;
}
 
  label{
    font-size: 13px
  }

  input[type=text]{
    width: 10%;
    position: absolute;
    top: 30px !important;
    z-index: 20 !important;
    
  }
  #daterange{
    width: 40% !important;
    top: 80px !important;
    left:200px;
  }

  td, th {
    font-size: 12px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  pagination-controls {
    margin-left: 0;
    margin-bottom: 1rem;
    width:200%;
    display: flex;
    border: 1px solid salmon;
}
.btn .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  opacity:0.7;
}

.btn .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.btn:hover .tooltiptext {
  visibility: visible;
}
