<nav class="navbar sticky-top navbar-expand-sm navbar-light">
  <img id="logo" class="navbar-brand" src="assets/senselive.png" class="img-fluid" alt="">
  <!-- (click)="onNavigate()" -->
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>

  <div id="sidebarMenu">
    <div class="card">

      <label class="hoverable" for="fileInput">
      <img class="rounded-circle mx-auto d-block" [src]="url ? url :'assets/demo.png'" alt="John" width="80px" height="80px"
        style="margin-top:10px;border:1px solid black">
        <div class="hover-text">Choose Photo</div>
        <div class="background"></div>
      </label>
     
      <input id="fileInput" type='file' (change)="onSelectFile($event)">
      <button *ngIf="url" (click)="delete()" >Remove</button>

      <div class="card-body">
        <h4 style="text-align: center;">{{value}}</h4>
        <!-- <h5 style="text-align: center;">Pvt. Ltd.</h5> -->
        <ul class="sidebarMenuInner">
          <li class="list-group-item">
            <h6>Profile</h6>
          </li>
          <li class="list-group-item">
            <h6>Employee Details</h6>
          </li>
          <li class="list-group-item">
            <h6 (click)="show()">Meter Details</h6>
          </li>
          <li class="list-group-item">
            <h6 *ngIf="logoutbtn" (click)="logout()">Logout</h6>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog"  role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">METER DETAILS</h4>
    </div>
    <div class="modal-body">

      <form [formGroup]="meterDetailsform"  (ngSubmit)="onSubmit()">

        
          <div class="form-group">
            <select class="form-select form-select-lg mb-3 col-sm-5" name="meterDet" (change)="getmeterId($event)" >
              <option selected>Select Meter</option>
              <option *ngFor="let mymeter of meter"  [value]="mymeter.id">{{mymeter.meterName}}</option>
            </select>
          </div>
        

        <div class="form-group">
          <div class="row mb-3">
            <label  class="col-sm-3 col-form-label">Meter Name:</label>
            <div class="col-sm-9">
              <input type="text" formControlName="meterName" class="form-control"  value={{name}} />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Meter Id :</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"  value={{metid}} [readonly]="variable"/>
              <input type="hidden" formControlName="meterid"   class="form-control" value={{metid}}/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Company :</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" value={{comp}} [readonly]="variable" />
              <input type="hidden" formControlName="company"   class="form-control" value={{comp}}/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Location :</label>
            <div class="col-sm-9">
              <input type="text" formControlName="location" class="form-control" value={{locate}} />
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="meterDetailsform.invalid">Update</button>&nbsp;
        <button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hide()">Cancel</button>
      </form>
  </div>
    
  </div>
  </div>
  </div>