<nav class="navbar sticky-top navbar-expand-sm navbar-light">
  <img id="logo" class="navbar-brand" src="assets/senselive.png" class="img-fluid" alt="">
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>

  <div id="sidebarMenu">
    <div class="card">
      <img class="rounded-circle mx-auto d-block" src="assets/demo.png" alt="John" width="80px" height="80px"
        style="margin-top:10px;border:1px solid black">
      <div class="card-body">
        <h4 style="text-align: center;">Elkem South Asia</h4>
        <h5 style="text-align: center;">Pvt. Ltd.</h5>
        <ul class="sidebarMenuInner">
          <li class="list-group-item">
            <h6>Profile</h6>
          </li>
          <li class="list-group-item">
            <h6>Employee Details</h6>
          </li>
          <li class="list-group-item">
            <h6>Meter Details</h6>
          </li>
          <li class="list-group-item">
            <h6 *ngIf="logoutbtn" (click)="logout()">Logout</h6>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>