.col-sm-2{
    height: 90vh;
    background-color: mintcream;
    border:1px solid black;
    text-align: center;
    overflow-y:scroll;
}
.col-sm-8{
    height: 90vh;
    background-color: mintcream;
    border:1px solid black;
    text-align: center;
   overflow-y:scroll ;
}
.col-sm-3{
    height: 85vh;
    background-color: mintcream;
    border:1px solid black;
    text-align: center;
    overflow-y:scroll;
}


  