<app-dialogbox></app-dialogbox>
<button type="button" class="btn" id="am" (click)="show()">Add Meter</button>

<hr>
<div  class="btn" id="am" (click)="allMeterData()">All Meter</div>
<div id="amb" *ngFor="let mydata of meter" (click)="displaydataMeter(mydata.meterid)">{{mydata.meterName}}

   <fa-icon [icon]="faTimes" (click)="deleteMeter(mydata.id)"></fa-icon>
</div>
<!-- Creates the bootstrap modal where the image will appear -->
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">

   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">METER REGISTRATION</h4>
         </div>
         <div class="modal-body">
            <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()"> 

               <div class="form-group">
                  <label>Meter Name</label>
                  <input type="text" formControlName="meterName" class="form-control" required>
                 
                     <div class="error" *ngIf="registerForm.controls['meterName'].hasError('required')
                     && registerForm.controls['meterName'].touched">Meter Name is required</div>
                     <div class="error" *ngIf="registerForm.controls['meterName'].hasError('uniqueMetername')">Meter Name Already Exists</div>
                
               </div>
              
              


               <div class="form-group">
                  <label>Meter Id</label>
                  <input type="text" formControlName="meterid" class="form-control" required>
                
                     <div class="error" *ngIf="registerForm.controls['meterid'].hasError('required')
                     && registerForm.controls['meterid'].touched">Meter Id is required</div>

                 
               </div>

               <div class="form-group">
                  <label>Company</label>
                  <input type="hidden" formControlName="company"   class="form-control" value={{value}}/>
                  <input type="text"  class="form-control" value={{value}} [readonly]="true"/>
               </div>


               <div class="form-group">
                  <label>Location</label>
                  <input type="text" formControlName="location" class="form-control" required>
                     <div class="error" *ngIf="registerForm.controls['location'].hasError('required')
                     && registerForm.controls['location'].touched">Location is required</div>

                  
               </div>

               <button type="submit" class="btn btn-primary" >Update</button>&nbsp;
               <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hide()">Cancel</button>
            </form>
         </div>
      </div>
   </div>
</div>